<%= @contact.name %><br>
<%= @contact.email %><br>
<%= @contact.phone %><br>
<%= @contact.address %><br>
<%= @contact.brief_notes %><br>
<button type="button" name="button"><%= link_to "Back", contacts_path %></button>
<button type="button" name="button"><%= link_to "Edit", edit_contact_path %></button>
